html,body{
    height: 100%;
}

#homeTemplate {
    height: 90%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.round {
    border-radius: 25px;
}

@media (min-width: 481px) and (max-width: 768px) {
    
}